html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}
nav{
    margin: 0 16% 0 16%;
}
footer {
    margin: 0 16% 0 16%;
}
footer div div{
    margin-top:50px;
    opacity:0.8;
}
