<img src="~/mycover.jpg" alt="photos" class="img-fluid mr-md-3" width="100%"  /><br/><br/><br/>
<div style="display:flex; justify-content: space-evenly;">
    <div style="border:1px solid #660000; width:330px; height:520px; border-radius:4px; margin-left:200px;">
        <img src="~/hospital-building-modern-parking-lot-59693686.jpg" alt="pic" width="280px" height="200px" style="margin:25px 25px 5px 25px;">
        <p style="margin:25px 25px 5px 25px; text-align:justify; color:#660000">There is not much information provided online about the current live data. So to contradict that, we have come up with new approach. 
            Now we gave access to each Medical Individual to update the database on our site regularly. You can add new entity by clicking the link below.
        </p>
        <div style="margin:25px 25px 5px 25px; border:2px solid; padding:5px; background-color:#660000; width:70px;">
            <a asp-area="" asp-controller="Blood" asp-action="Create"  style="color:white; text-decoration:none;">Register</a>
        </div>
    </div>
    <div style="border:1px solid #660000; width:330px; height:520px; border-radius:4px; margin-right:200px">
        <img src="~/depositphotos_17371233-stock-photo-thinking-women.jpg" alt="pic" width="280px" height="200px" style="margin:25px 25px 5px 25px;">
        <p style="margin:25px 25px 5px 25px; text-align:justify; color:#660000">Many Thoughts begins as we try new things. You may be concerned about security of our database or integrity of the data provided. So, in order
            to get above that we must ask questions. We have made queries portal where you can send us the queries and expect reply with in an hour.
        </p>
        <div style="margin:25px 25px 5px 25px; border:2px solid; padding:5px; background-color:#660000; width:100px;">
             <a asp-area="" asp-controller="Blood" asp-action="ReviewForm"  style="color:white; text-decoration:none;">Add Query</a>
        </div>
    </div>
</div><br/><br/>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2099.7668187685294!2d85.31711937674372!3d27.7366457628484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb1926b489a2c9%3A0x398a3dbc91915c29!2sAll%20Nepal%20Hospital!5e0!3m2!1sen!2snp!4v1668274628845!5m2!1sen!2snp" width="1300" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
